{% extends 'base.html.twig' %}

{% block body %}
    <header>
        Standard
    </header>
    <nav>
        <a href="/account">Account</a>
    </nav>
{% endblock %}

{% block stylesheets %}{% endblock %}
